<header>
  		<h1> Tmtrckr </h1>

  		<ul>
  			<li>
  				<a href="/"> Home </a>
  			</li>

  			<li>
  				<a href="/contact"> Contact Us</a>
  			</li>

        <li>
          <a href="/projects"> Projects</a>
        </li>

        <li>
          <a href="/projects/new"> Add A New Project </a>
        </li>
  		</ul>

	</header>