<hl> Company Page</hl>

<p> We are looking for investors with alot of money! 
If you've got the cheddar, we wanna get to know you better!</p>

<h2> Types of currency we take: <h2>

<ul>
<li>Dollar Bills</li>
<li>Credit Cards</li>
<li>Bit Coins</li>
<li>Pay Pal</li>
</ul>