<h2>Get Ready to Rock! Todays Concerts: </h2>

<div>
	<ul>
	<% @concerts.each do |concert| %>
	<li><%= link_to "#{concert.artist}", concert_path(concert) %></li>
	<% end %>
	</ul>
</div>

<h2>Concerts Later Today:</h2>
<div>
	<ul>
	<% @concerts_later.each do |concert| %>
	<li><%= link_to "#{concert.artist}" %></li>
	<% end %>
	</ul>
</div>

<%= link_to 'Add a new concert!', new_concert_path %>
<br>
</br>

<footer>Copyright Mike Mullen</footer>